.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: auto;
  pointer-events: none;
}
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.app-link {
  color: #61dafb;
}
@-moz-keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container:before {
  content: '';
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}
.card-container .card {
  width: 800px;
  height: 800px;
  background-color: rgba(255,255,255,0.5);
  z-index: 1;
}
.wrapper {
  overflow: hidden;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container img.logo {
  width: 80%;
}
