.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: auto;
  pointer-events: none;
}
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.app-link {
  color: #61dafb;
}
@-moz-keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.card-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container:before {
  content: '';
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}
.card-container .card {
  width: 70%;
  height: auto;
  background-color: #fff;
  z-index: 1;
  padding: 20px;
  border-radius: 4px;
}
.wrapper {
  overflow: auto;
}
@media only screen and (min-width: 1050px) {
  .wrapper {
    overflow: hidden;
  }
}
.image {
  display: flex;
  flex-flow: row wrap;
}
.image h2 {
  box-sizing: border-box;
  margin-top: 0;
}
.image p {
  margin-top: 0;
  padding-right: 20px;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.image .column.column-top {
  width: 100%;
}
.image .column.column-left,
.image .column.column-right {
  flex: 1;
  width: 50%;
}
.image .column.column-bottom {
  width: 100%;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container img.logo {
  width: 80%;
}
